body, h1, h2, .button, table {
    font-family: 'Roboto Slab', serif;
    font-style:italic;
}

/*nav .breadcrumbs {
  background:transparent;
  border:none;
}

nav .breadcrumbs a {
  color:#f
}*/

body.background-1{
  background:url('/static/images/backgrounds/13134244664_41ee4121a7_o.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.alert-box {
    border:none;
}

table {
  width:100%;
  background:transparent;
  border:none;
  border-collapse: collapse;
}

table thead {
  background:transparent;
}
th {
  border-bottom:solid 1px #000;
}

/*
nav.top-bar {
  font-size:0.8rem;
}

nav.top-bar a {
  color:#fff;
}*/

#main {
  font-size:25px;
  background:rgba(255,255,255,  0.7);
  margin:80px auto 0 auto;
  padding:2%;
  min-height:300px
}

.permissions {
  min-height:6rem;
}
