celery==3.1.9
Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.18
Werkzeug==0.9.4
itsdangerous==0.23
mongoengine==0.8.7
flask-mongoengine==0.7.0
Flask-RESTful==0.2.11
Flask-Cors==1.3.0
Flask-OAuthlib==0.4.3
pymongo==2.6.3
geojson==1.0.6
wsgiref==0.1.2
git+https://github.com/behave/behave.git
python-dateutil==2.2
blinker==1.3
