Flask==0.10.1
Flask-Script==0.6.2
Flask-WTF==0.9.1
Jinja2==2.7.1
MarkupSafe==0.18
WTForms==1.0.4
Werkzeug==0.9.4
argparse==1.2.1
git+https://github.com/behave/behave.git
flask-mongoengine==0.7.0
foursquare==2013.12.10
geojson==1.0.1
itsdangerous==0.23
mongoengine==0.8.4
oauthlib==0.6.0
parse==1.6.3
pymongo==2.6.2
pyshp==1.2.0
python-openid==2.2.5
requests==2.1.0
requests-oauthlib==0.4.0
simplejson==3.3.0
six==1.4.1
wsgiref==0.1.2
flask-debugtoolbar
