{% extends "base.html" %}
{% block content %}
  <h2>{{ client.client_id }} wants:</h2>
  <ul>
    {% for key,value in avaliable_scopes.iteritems() %}
        {% for scope in scopes %}
          {% if scope == key %}
              <li>{{value|lower}}</li>
          {% endif %}
        {% endfor %}
    {% endfor %}
  </ul>
{{scopes}}
  <form action="/oauth/authorize" method="post">
    <input type="hidden" name="client_id" value="{{ client.client_id }}">
    <input type="hidden" name="scope" value="{{ scopes|join(' ') }}">
    <input type="hidden" name="response_type" value="{{ response_type }}">
    {% if state %}
      <input type="hidden" name="state" value="{{ state }}">
    {% endif %}
    <input type="submit" class="button" name="confirm" value="yes">
    <input type="submit" class="button secondary" name="confirm" value="no">
  </form>
{% endblock %}
