{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}
<form action="" method="post">
	<div class="scenario edit">
        	<div class="code">
{{form.code}}
			</div>
	</div>
	<a href="{{url_for('scenarios')}}" class="btn btn-default">&larr; Cancel</a>

	<button type="submit" class="btn btn-primary">Save</button>


	<script type="text/javascript">
	 	var myCodeMirror = CodeMirror.fromTextArea($('#code')[0]);
	 	myCodeMirror.focus()
	</script>
</form>

{% endblock %}
