{% extends "base.html" %}
{% block content %}
    <div class="scenarios">
        {% for feature in features %}
            <div class="scenario">
            	<div class="code">
            		<div class="raw">
{{feature['code']}}
    				</div>
    			</div>
    			<div class="meta">
    				<a href="{{url_for('edit', scenario_id=feature['feature_id'])}}" class="btn btn-default">Edit</a>
    				Last modified: {{feature['modified_at']}}
    			</div>
            </div>
        {% endfor %}
    </div>
    <form action="{{url_for('edit', scenario_id='new')}}" method="get">
        <button type="submit" class="btn btn-primary">Add new</button>
    </form>
    <script type="text/javascript">
    $('.scenario .code .raw').each(function( index ) {
         var myCodeMirror = CodeMirror(this.parentNode, {
        	value: this.innerHTML,
        	readOnly: 'nocursor'
    	});
    });
    $('.scenario .code .raw').each(function( index ) {
        this.remove();
    });
    </script>
{% endblock %}