{% from "_formhelpers.html" import render_field, render_checkbox %}
{% extends "base.html" %}
{% block content %}
	<div class="list-group">
	  <a href="{{url_for('foursquare_settings')}}" class="list-group-item">
	    <h4 class="list-group-item-heading">Foursquare</h4>
	    <p class="list-group-item-text">...</p>
	  </a>
	  <a href="{{url_for('twitter_settings')}}" class="list-group-item">
	    <h4 class="list-group-item-heading">Twitter</h4>
	    <p class="list-group-item-text">...</p>
	  </a>
	</div>
{% endblock %}
