<!doctype html>
<html>
<head>
        <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='javascript/openactivity.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>Open Activity</title>
</head>
<body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="{{ url_for('results') }}">Try</a></li>
          <li><a href="https://github.com/memespring/open-activity">Docs and code</a></li>
        </ul>
        <h3 class="text-muted"><a href="/">Open Activity</a></h3>
      </div>

      {% block content %}
      {% endblock %}

      <div class="footer">
        <p><a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General Public License v3</a></p>
      </div>

    </div> <!-- /container -->
</body>
