<!doctype html>
<html>
<head>
        <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='images/iphone_icon.png') }}" />
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/iphone_icon.png') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
        <link href="{{ url_for('static', filename='images/startup.png') }}" rel="apple-touch-startup-image" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>{% block title %}{% endblock %}|openactivity</title>
    {% block head %}
    {% endblock %}
</head>
<body onload="{% block onload %}{% endblock %}">
    {% block content %}
    {% endblock %}
</body>
