{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1><span class="glyphicon glyphicon-tree-deciduous"></span> Habitat</h1>
    <p class="lead">
        A Javascript library &amp; web API for Really Responsive Design
    </p>

  </div>

    <script type="text/javascript">
        function handleResult(){
            if (this['outside']) {
                $('#activity-outside').attr('class', 'yes');
                $('#activity-outside').html('<span class="glyphicon glyphicon-ok-sign">Yes</span>');
            }else{
                $('#activity-outside').attr('class', 'no');
                $('#activity-outside').html('No');
            }
        }
        checkActivity(handleResult);
    </script>
    <table id="results">
        <tr>
            <td class="notimplemented">Moving</td>
            <td class="notimplemented">Not implemented</td>
        </tr>
        <tr>
            <td class="notimplemented">In a park</td>
            <td class="notimplemented">Not implemented</td>
        </tr>
        <tr>
            <td class="notimplemented">On a train</td>
            <td class="notimplemented">Not implemented</td>
        </tr>
        <tr>
            <td class="notimplemented">Jumping</td>
            <td class="notimplemented">Not implemented</td>
        </tr>
        <tr>
            <td class="notimplemented">On a boat</td>
            <td class="notimplemented">Not implemented</td>
        </tr>
        <tr>
            <td>Outside</td>
            <td id="activity-outside">Checking ...</td>
        </tr>
    </table>
{% endblock %}
