{% from "_formhelpers.html" import render_field, render_checkbox %}
{% extends "base.html" %}
{% block content %}
 	<form class="settings" action="" method="post">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					{{module_title}}
				</h3>
			</div>
			<div class="panel-body">
				{% for field in form %}
					{{render_field(field)}}
				{% endfor %}
			</div>
			<div class="panel-footer">
				<h4>Instructions</h4>
				<ol>
					{% for instruction in instructions %}
						<li>{{instruction|safe}}</li>
					{% endfor %}
				</ol>
			</div>
		</div>
		<a href="{{url_for('settings')}}" class="btn btn-default">&larr; Return to all settings</a>
		<button type="submit" class="btn btn-primary">Save and authorise</button>
  	  </form>
{% endblock %}
